<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Marc-André ter Stegen</string>
		<key>Position</key>
		<string>GK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gerard Piqué (4th captain)
</string>
		<key>Position</key>
		<string>DF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ivan Rakitić</string>
		<key>Position</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sergio Busquets (3rd captain)</string>
		<key>Position</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pedro Rodríguez</string>
		<key>Position	</key>
		<string>FW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Andrés Iniesta (captain)</string>
		<key>Position	</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Luis Suárez</string>
		<key>Position	</key>
		<string>FW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lionel Messi (vice-captain)</string>
		<key>Position	</key>
		<string>FW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Neymar</string>
		<key>Position	</key>
		<string>FW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rafinha</string>
		<key>Position	</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Claudio Bravo</string>
		<key>Position	</key>
		<string>GK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Javier Mascherano</string>
		<key>Position	</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Marc Bartra</string>
		<key>Position	</key>
		<string>DF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Douglas</string>
		<key>Position	</key>
		<string>DF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jordi Alba</string>
		<key>Position	</key>
		<string>DF</string>
	</dict>
</array>
</plist>
